package pages

import "portfolio/internal/components"

// A page displaying all of Jackson Terrill's artwork.
templ Art() {
  @components.Layout("Art - Jackson Terrill", "Jackson Terrill's artwork") {
    <div>Art</div>
  }
}
