package pages

import "github.com/jtrrll/portfolio/internal/components"

// TODO: Fill in content
templ Audio() {
	@components.Layout("Audio Media - Jackson Terrill", "Jackson Terrill's audio media") {
		@components.Header("Audio Media", "By Jackson Terrill")
		<p>
			UNDER CONSTRUCTION...
			(Come back soon!)
		</p>
	}
}
