package pages

import "portfolio/internal/components"

// A page displaying all of Jackson Terrill's coding projects.
templ Code() {
  @components.Layout("Code - Jackson Terrill", "Jackson Terrill's coding projects") {
    <div>Code</div>
  }
}
