package pages

import "portfolio/internal/components"

// A page displaying all of Jackson Terrill's games.
templ Games() {
  @components.Layout("Games - Jackson Terrill", "Jackson Terrill's games") {
    <div>Games</div>
  }
}
