// A collection of templ pages.
package pages

import "portfolio/internal/components"

// The root page.
templ Index() {
  @components.Layout("Jackson Terrill", "Jackson Terrill's personal website") {
    <div>INDEX</div>
  }
}
