package pages

import "github.com/jtrrll/portfolio/internal/components"

// TODO: Fill in content
templ Interactive() {
	@components.Layout("Interactive Media - Jackson Terrill", "Jackson Terrill's interactive media") {
		@components.Header("Interactive Media", "By Jackson Terrill")
		<p>
			UNDER CONSTRUCTION...
			(Come back soon!)
		</p>
	}
}
