package pages

import "portfolio/internal/components"

// A page displaying all of Jackson Terrill's music.
templ Music() {
  @components.Layout("Music - Jackson Terrill", "Jackson Terrill's music") {
    <div>Music</div>
  }
}
