package pages

import "github.com/jtrrll/portfolio/internal/components"

// TODO: Fill in content
templ Visual() {
	@components.Layout("Visual Media - Jackson Terrill", "Jackson Terrill's visual media") {
		@components.Header("Visual Media", "By Jackson Terrill")
		<p>
			UNDER CONSTRUCTION...
			(Come back soon!)
		</p>
	}
}
