.language-1c-enterprise { border-color: #814CCC; }
.language-2-dimensional-array { border-color: #38761D; }
.language-4d { border-color: #004289; }
.language-abap { border-color: #E8274B; }
.language-abap-cds { border-color: #555e25; }
.language-ags-script { border-color: #B9D9FF; }
.language-aidl { border-color: #34EB6B; }
.language-al { border-color: #3AA2B5; }
.language-algol { border-color: #D1E0DB; }
.language-ampl { border-color: #E6EFBB; }
.language-antlr { border-color: #9DC3FF; }
.language-api-blueprint { border-color: #2ACCA8; }
.language-apl { border-color: #5A8164; }
.language-asp-net { border-color: #9400ff; }
.language-ats { border-color: #1ac620; }
.language-actionscript { border-color: #882B0F; }
.language-ada { border-color: #02f88c; }
.language-adblock-filter-list { border-color: #800000; }
.language-adobe-font-metrics { border-color: #fa0f00; }
.language-agda { border-color: #315665; }
.language-aiken { border-color: #640ff8; }
.language-alloy { border-color: #64C800; }
.language-alpine-abuild { border-color: #0D597F; }
.language-altium-designer { border-color: #A89663; }
.language-angelscript { border-color: #C7D7DC; }
.language-answer-set-programming { border-color: #A9CC29; }
.language-ant-build-system { border-color: #A9157E; }
.language-antlers { border-color: #ff269e; }
.language-apacheconf { border-color: #d12127; }
.language-apex { border-color: #1797c0; }
.language-apollo-guidance-computer { border-color: #0B3D91; }
.language-applescript { border-color: #101F1F; }
.language-arc { border-color: #aa2afe; }
.language-asciidoc { border-color: #73a0c5; }
.language-aspectj { border-color: #a957b0; }
.language-assembly { border-color: #6E4C13; }
.language-astro { border-color: #ff5a03; }
.language-asymptote { border-color: #ff0000; }
.language-augeas { border-color: #9CC134; }
.language-autohotkey { border-color: #6594b9; }
.language-autoit { border-color: #1C3552; }
.language-avro-idl { border-color: #0040FF; }
.language-awk { border-color: #c30e9b; }
.language-b-formal-method { border-color: #8aa8c5; }
.language-b4x { border-color: #00e4ff; }
.language-basic { border-color: #ff0000; }
.language-bqn { border-color: #2b7067; }
.language-ballerina { border-color: #FF5000; }
.language-batchfile { border-color: #C1F12E; }
.language-beef { border-color: #a52f4e; }
.language-berry { border-color: #15A13C; }
.language-bibtex { border-color: #778899; }
.language-bicep { border-color: #519aba; }
.language-bikeshed { border-color: #5562ac; }
.language-bison { border-color: #6A463F; }
.language-bitbake { border-color: #00bce4; }
.language-blade { border-color: #f7523f; }
.language-blitzbasic { border-color: #00FFAE; }
.language-blitzmax { border-color: #cd6400; }
.language-bluespec { border-color: #12223c; }
.language-bluespec-bh { border-color: #12223c; }
.language-boo { border-color: #d4bec1; }
.language-boogie { border-color: #c80fa0; }
.language-brainfuck { border-color: #2F2530; }
.language-brighterscript { border-color: #66AABB; }
.language-brightscript { border-color: #662D91; }
.language-browserslist { border-color: #ffd539; }
.language-bru { border-color: #F4AA41; }
.language-buildstream { border-color: #006bff; }
.language-c { border-color: #555555; }
.language-c { border-color: #178600; }
.language-c { border-color: #f34b7d; }
.language-c3 { border-color: #2563eb; }
.language-cap-cds { border-color: #0092d1; }
.language-clips { border-color: #00A300; }
.language-cmake { border-color: #DA3434; }
.language-collada { border-color: #F1A42B; }
.language-cql { border-color: #006091; }
.language-cson { border-color: #244776; }
.language-css { border-color: #663399; }
.language-csv { border-color: #237346; }
.language-cue { border-color: #5886E1; }
.language-cweb { border-color: #00007a; }
.language-cabal-config { border-color: #483465; }
.language-caddyfile { border-color: #22b638; }
.language-cadence { border-color: #00ef8b; }
.language-cairo { border-color: #ff4a48; }
.language-cairo-zero { border-color: #ff4a48; }
.language-cameligo { border-color: #3be133; }
.language-cangjie { border-color: #00868B; }
.language-cap-n-proto { border-color: #c42727; }
.language-carbon { border-color: #222222; }
.language-ceylon { border-color: #dfa535; }
.language-chapel { border-color: #8dc63f; }
.language-chuck { border-color: #3f8000; }
.language-circom { border-color: #707575; }
.language-cirru { border-color: #ccccff; }
.language-clarion { border-color: #db901e; }
.language-clarity { border-color: #5546ff; }
.language-classic-asp { border-color: #6a40fd; }
.language-clean { border-color: #3F85AF; }
.language-click { border-color: #E4E6F3; }
.language-clojure { border-color: #db5855; }
.language-closure-templates { border-color: #0d948f; }
.language-cloud-firestore-security-rules { border-color: #FFA000; }
.language-clue { border-color: #0009b5; }
.language-codeql { border-color: #140f46; }
.language-coffeescript { border-color: #244776; }
.language-coldfusion { border-color: #ed2cd6; }
.language-coldfusion-cfc { border-color: #ed2cd6; }
.language-common-lisp { border-color: #3fb68b; }
.language-common-workflow-language { border-color: #B5314C; }
.language-component-pascal { border-color: #B0CE4E; }
.language-cooklang { border-color: #E15A29; }
.language-crystal { border-color: #000100; }
.language-csound { border-color: #1a1a1a; }
.language-csound-document { border-color: #1a1a1a; }
.language-csound-score { border-color: #1a1a1a; }
.language-cuda { border-color: #3A4E3A; }
.language-curry { border-color: #531242; }
.language-cylc { border-color: #00b3fd; }
.language-cypher { border-color: #34c0eb; }
.language-cython { border-color: #fedf5b; }
.language-d { border-color: #ba595e; }
.language-d2 { border-color: #526ee8; }
.language-dm { border-color: #447265; }
.language-dafny { border-color: #FFEC25; }
.language-darcs-patch { border-color: #8eff23; }
.language-dart { border-color: #00B4AB; }
.language-daslang { border-color: #d3d3d3; }
.language-dataweave { border-color: #003a52; }
.language-debian-package-control-file { border-color: #D70751; }
.language-denizenscript { border-color: #FBEE96; }
.language-dhall { border-color: #dfafff; }
.language-directx-3d-file { border-color: #aace60; }
.language-dockerfile { border-color: #384d54; }
.language-dogescript { border-color: #cca760; }
.language-dotenv { border-color: #e5d559; }
.language-dune { border-color: #89421e; }
.language-dylan { border-color: #6c616e; }
.language-e { border-color: #ccce35; }
.language-ecl { border-color: #8a1267; }
.language-eclipse { border-color: #001d9d; }
.language-ejs { border-color: #a91e50; }
.language-eq { border-color: #a78649; }
.language-earthly { border-color: #2af0ff; }
.language-easybuild { border-color: #069406; }
.language-ecere-projects { border-color: #913960; }
.language-ecmarkup { border-color: #eb8131; }
.language-edge { border-color: #0dffe0; }
.language-edgeql { border-color: #31A7FF; }
.language-editorconfig { border-color: #fff1f2; }
.language-eiffel { border-color: #4d6977; }
.language-elixir { border-color: #6e4a7e; }
.language-elm { border-color: #60B5CC; }
.language-elvish { border-color: #55BB55; }
.language-elvish-transcript { border-color: #55BB55; }
.language-emacs-lisp { border-color: #c065db; }
.language-emberscript { border-color: #FFF4F3; }
.language-erlang { border-color: #B83998; }
.language-euphoria { border-color: #FF790B; }
.language-f { border-color: #b845fc; }
.language-f { border-color: #572e30; }
.language-figlet-font { border-color: #FFDDBB; }
.language-firrtl { border-color: #2f632f; }
.language-flux { border-color: #88ccff; }
.language-factor { border-color: #636746; }
.language-fancy { border-color: #7b9db4; }
.language-fantom { border-color: #14253c; }
.language-faust { border-color: #c37240; }
.language-fennel { border-color: #fff3d7; }
.language-filebench-wml { border-color: #F6B900; }
.language-flatbuffers { border-color: #ed284a; }
.language-flix { border-color: #d44a45; }
.language-fluent { border-color: #ffcc33; }
.language-forth { border-color: #341708; }
.language-fortran { border-color: #4d41b1; }
.language-fortran-free-form { border-color: #4d41b1; }
.language-freebasic { border-color: #141AC9; }
.language-freemarker { border-color: #0050b2; }
.language-frege { border-color: #00cafe; }
.language-futhark { border-color: #5f021f; }
.language-g-code { border-color: #D08CF2; }
.language-gaml { border-color: #FFC766; }
.language-gams { border-color: #f49a22; }
.language-gap { border-color: #0000cc; }
.language-gcc-machine-description { border-color: #FFCFAB; }
.language-gdscript { border-color: #355570; }
.language-gdshader { border-color: #478CBF; }
.language-gedcom { border-color: #003058; }
.language-glsl { border-color: #5686a5; }
.language-gsc { border-color: #FF6800; }
.language-game-maker-language { border-color: #71b417; }
.language-gemfile-lock { border-color: #701516; }
.language-gemini { border-color: #ff6900; }
.language-genero-4gl { border-color: #63408e; }
.language-genero-per { border-color: #d8df39; }
.language-genie { border-color: #fb855d; }
.language-genshi { border-color: #951531; }
.language-gentoo-ebuild { border-color: #9400ff; }
.language-gentoo-eclass { border-color: #9400ff; }
.language-gerber-image { border-color: #d20b00; }
.language-gherkin { border-color: #5B2063; }
.language-git-attributes { border-color: #F44D27; }
.language-git-commit { border-color: #F44D27; }
.language-git-config { border-color: #F44D27; }
.language-git-revision-list { border-color: #F44D27; }
.language-gleam { border-color: #ffaff3; }
.language-glimmer-js { border-color: #F5835F; }
.language-glimmer-ts { border-color: #3178c6; }
.language-glyph { border-color: #c1ac7f; }
.language-gnuplot { border-color: #f0a9f0; }
.language-go { border-color: #00ADD8; }
.language-go-checksums { border-color: #00ADD8; }
.language-go-module { border-color: #00ADD8; }
.language-go-template { border-color: #00ADD8; }
.language-go-workspace { border-color: #00ADD8; }
.language-godot-resource { border-color: #355570; }
.language-golo { border-color: #88562A; }
.language-gosu { border-color: #82937f; }
.language-grace { border-color: #615f8b; }
.language-gradle { border-color: #02303a; }
.language-gradle-kotlin-dsl { border-color: #02303a; }
.language-grammatical-framework { border-color: #ff0000; }
.language-graphql { border-color: #e10098; }
.language-graphviz-dot { border-color: #2596be; }
.language-groovy { border-color: #4298b8; }
.language-groovy-server-pages { border-color: #4298b8; }
.language-haproxy { border-color: #106da9; }
.language-hcl { border-color: #844FBA; }
.language-hip { border-color: #4F3A4F; }
.language-hlsl { border-color: #aace60; }
.language-hocon { border-color: #9ff8ee; }
.language-html { border-color: #e34c26; }
.language-html-ecr { border-color: #2e1052; }
.language-html-eex { border-color: #6e4a7e; }
.language-html-erb { border-color: #701516; }
.language-html-php { border-color: #4f5d95; }
.language-html-razor { border-color: #512be4; }
.language-http { border-color: #005C9C; }
.language-hxml { border-color: #f68712; }
.language-hack { border-color: #878787; }
.language-haml { border-color: #ece2a9; }
.language-handlebars { border-color: #f7931e; }
.language-harbour { border-color: #0e60e3; }
.language-hare { border-color: #9d7424; }
.language-haskell { border-color: #5e5086; }
.language-haxe { border-color: #df7900; }
.language-hiveql { border-color: #dce200; }
.language-holyc { border-color: #ffefaf; }
.language-hosts-file { border-color: #308888; }
.language-hurl { border-color: #FF0288; }
.language-hy { border-color: #7790B2; }
.language-idl { border-color: #a3522f; }
.language-igor-pro { border-color: #0000cc; }
.language-ini { border-color: #d1dbe0; }
.language-ispc { border-color: #2D68B1; }
.language-idris { border-color: #b30000; }
.language-ignore-list { border-color: #000000; }
.language-imagej-macro { border-color: #99AAFF; }
.language-imba { border-color: #16cec6; }
.language-inno-setup { border-color: #264b99; }
.language-io { border-color: #a9188d; }
.language-ioke { border-color: #078193; }
.language-isabelle { border-color: #FEFE00; }
.language-isabelle-root { border-color: #FEFE00; }
.language-j { border-color: #9EEDFF; }
.language-jar-manifest { border-color: #b07219; }
.language-jcl { border-color: #d90e09; }
.language-jflex { border-color: #DBCA00; }
.language-json { border-color: #292929; }
.language-json-with-comments { border-color: #292929; }
.language-json5 { border-color: #267CB9; }
.language-jsonld { border-color: #0c479c; }
.language-jsoniq { border-color: #40d47e; }
.language-jac { border-color: #FC792D; }
.language-jai { border-color: #ab8b4b; }
.language-janet { border-color: #0886a5; }
.language-jasmin { border-color: #d03600; }
.language-java { border-color: #b07219; }
.language-java-properties { border-color: #2A6277; }
.language-java-server-pages { border-color: #2A6277; }
.language-java-template-engine { border-color: #2A6277; }
.language-javascript { border-color: #f1e05a; }
.language-javascript-erb { border-color: #f1e05a; }
.language-jest-snapshot { border-color: #15c213; }
.language-jetbrains-mps { border-color: #21D789; }
.language-jinja { border-color: #a52a22; }
.language-jison { border-color: #56b3cb; }
.language-jison-lex { border-color: #56b3cb; }
.language-jolie { border-color: #843179; }
.language-jsonnet { border-color: #0064bd; }
.language-julia { border-color: #a270ba; }
.language-julia-repl { border-color: #a270ba; }
.language-jupyter-notebook { border-color: #DA5B0B; }
.language-just { border-color: #384d54; }
.language-kcl { border-color: #7ABABF; }
.language-kdl { border-color: #ffb3b3; }
.language-kframework { border-color: #4195c5; }
.language-krl { border-color: #28430A; }
.language-kaitai-struct { border-color: #773b37; }
.language-kakounescript { border-color: #6f8042; }
.language-kerboscript { border-color: #41adf0; }
.language-kicad-layout { border-color: #2f4aab; }
.language-kicad-legacy-layout { border-color: #2f4aab; }
.language-kicad-schematic { border-color: #2f4aab; }
.language-kolmafia-ash { border-color: #B9D9B9; }
.language-koka { border-color: #215166; }
.language-kotlin { border-color: #A97BFF; }
.language-lfe { border-color: #4C3023; }
.language-llvm { border-color: #185619; }
.language-lolcode { border-color: #cc9900; }
.language-lsl { border-color: #3d9970; }
.language-labview { border-color: #fede06; }
.language-lambdapi { border-color: #8027a3; }
.language-langium { border-color: #2c8c87; }
.language-lark { border-color: #2980B9; }
.language-lasso { border-color: #999999; }
.language-latte { border-color: #f2a542; }
.language-leo { border-color: #C4FFC2; }
.language-less { border-color: #1d365d; }
.language-lex { border-color: #DBCA00; }
.language-ligolang { border-color: #0e74ff; }
.language-lilypond { border-color: #9ccc7c; }
.language-liquid { border-color: #67b8de; }
.language-liquidsoap { border-color: #990066; }
.language-literate-agda { border-color: #315665; }
.language-literate-coffeescript { border-color: #244776; }
.language-literate-haskell { border-color: #5e5086; }
.language-livecode-script { border-color: #0c5ba5; }
.language-livescript { border-color: #499886; }
.language-logtalk { border-color: #295b9a; }
.language-lookml { border-color: #652B81; }
.language-lua { border-color: #000080; }
.language-luau { border-color: #00A2FF; }
.language-m3u { border-color: #179C7D; }
.language-matlab { border-color: #e16737; }
.language-maxscript { border-color: #00a6a6; }
.language-mdx { border-color: #fcb32c; }
.language-mlir { border-color: #5EC8DB; }
.language-mql4 { border-color: #62A8D6; }
.language-mql5 { border-color: #4A76B8; }
.language-mtml { border-color: #b7e1f4; }
.language-macaulay2 { border-color: #d8ffff; }
.language-makefile { border-color: #427819; }
.language-mako { border-color: #7e858d; }
.language-markdown { border-color: #083fa1; }
.language-marko { border-color: #42bff2; }
.language-mask { border-color: #f97732; }
.language-mathematical-programming-system { border-color: #0530ad; }
.language-max { border-color: #c4a79c; }
.language-metta { border-color: #6a5acd; }
.language-mercury { border-color: #ff2b2b; }
.language-mermaid { border-color: #ff3670; }
.language-meson { border-color: #007800; }
.language-metal { border-color: #8f14e9; }
.language-miniyaml { border-color: #ff1111; }
.language-minizinc { border-color: #06a9e6; }
.language-mint { border-color: #02b046; }
.language-mirah { border-color: #c7a938; }
.language-modelica { border-color: #de1d31; }
.language-modula-2 { border-color: #10253f; }
.language-modula-3 { border-color: #223388; }
.language-mojo { border-color: #ff4c1f; }
.language-monkey-c { border-color: #8D6747; }
.language-moonbit { border-color: #b92381; }
.language-moonscript { border-color: #ff4585; }
.language-motoko { border-color: #fbb03b; }
.language-motorola-68k-assembly { border-color: #005daa; }
.language-move { border-color: #4a137a; }
.language-mustache { border-color: #724b3b; }
.language-ncl { border-color: #28431f; }
.language-nmodl { border-color: #00356B; }
.language-npm-config { border-color: #cb3837; }
.language-nwscript { border-color: #111522; }
.language-nasal { border-color: #1d2c4e; }
.language-nearley { border-color: #990000; }
.language-nemerle { border-color: #3d3c6e; }
.language-netlinx { border-color: #0aa0ff; }
.language-netlinx-erb { border-color: #747faa; }
.language-netlogo { border-color: #ff6375; }
.language-newlisp { border-color: #87AED7; }
.language-nextflow { border-color: #3ac486; }
.language-nginx { border-color: #009639; }
.language-nickel { border-color: #E0C3FC; }
.language-nim { border-color: #ffc200; }
.language-nit { border-color: #009917; }
.language-nix { border-color: #7e7eff; }
.language-noir { border-color: #2f1f49; }
.language-nu { border-color: #c9df40; }
.language-numpy { border-color: #9C8AF9; }
.language-nunjucks { border-color: #3d8137; }
.language-nushell { border-color: #4E9906; }
.language-oasv2-json { border-color: #85ea2d; }
.language-oasv2-yaml { border-color: #85ea2d; }
.language-oasv3-json { border-color: #85ea2d; }
.language-oasv3-yaml { border-color: #85ea2d; }
.language-ocaml { border-color: #ef7a08; }
.language-omnet-msg { border-color: #a0e0a0; }
.language-omnet-ned { border-color: #08607c; }
.language-objectscript { border-color: #424893; }
.language-objective-c { border-color: #438eff; }
.language-objective-c { border-color: #6866fb; }
.language-objective-j { border-color: #ff0c5a; }
.language-odin { border-color: #60AFFE; }
.language-omgrofl { border-color: #cabbff; }
.language-opal { border-color: #f7ede0; }
.language-open-policy-agent { border-color: #7d9199; }
.language-openapi-specification-v2 { border-color: #85ea2d; }
.language-openapi-specification-v3 { border-color: #85ea2d; }
.language-opencl { border-color: #ed2e2d; }
.language-openedge-abl { border-color: #5ce600; }
.language-openqasm { border-color: #AA70FF; }
.language-openscad { border-color: #e5cd45; }
.language-option-list { border-color: #476732; }
.language-org { border-color: #77aa99; }
.language-overpassql { border-color: #cce2aa; }
.language-oxygene { border-color: #cdd0e3; }
.language-oz { border-color: #fab738; }
.language-p4 { border-color: #7055b5; }
.language-pddl { border-color: #0d00ff; }
.language-peg-js { border-color: #234d6b; }
.language-php { border-color: #4F5D95; }
.language-plsql { border-color: #dad8d8; }
.language-plpgsql { border-color: #336790; }
.language-pov-ray-sdl { border-color: #6bac65; }
.language-pact { border-color: #F7A8B8; }
.language-pan { border-color: #cc0000; }
.language-papyrus { border-color: #6600cc; }
.language-parrot { border-color: #f3ca0a; }
.language-pascal { border-color: #E3F171; }
.language-pawn { border-color: #dbb284; }
.language-pep8 { border-color: #C76F5B; }
.language-perl { border-color: #0298c3; }
.language-picolisp { border-color: #6067af; }
.language-piglatin { border-color: #fcd7de; }
.language-pike { border-color: #005390; }
.language-pip-requirements { border-color: #FFD343; }
.language-pkl { border-color: #6b9543; }
.language-plantuml { border-color: #fbbd16; }
.language-pogoscript { border-color: #d80074; }
.language-polar { border-color: #ae81ff; }
.language-portugol { border-color: #f8bd00; }
.language-postcss { border-color: #dc3a0c; }
.language-postscript { border-color: #da291c; }
.language-powerbuilder { border-color: #8f0f8d; }
.language-powershell { border-color: #012456; }
.language-praat { border-color: #c8506d; }
.language-prisma { border-color: #0c344b; }
.language-processing { border-color: #0096D8; }
.language-procfile { border-color: #3B2F63; }
.language-prolog { border-color: #74283c; }
.language-promela { border-color: #de0000; }
.language-propeller-spin { border-color: #7fa2a7; }
.language-pug { border-color: #a86454; }
.language-puppet { border-color: #302B6D; }
.language-purebasic { border-color: #5a6986; }
.language-purescript { border-color: #1D222D; }
.language-pyret { border-color: #ee1e10; }
.language-python { border-color: #3572A5; }
.language-python-console { border-color: #3572A5; }
.language-python-traceback { border-color: #3572A5; }
.language-q { border-color: #fed659; }
.language-qml { border-color: #44a51c; }
.language-qt-script { border-color: #00b841; }
.language-quake { border-color: #882233; }
.language-quakec { border-color: #975777; }
.language-quickbasic { border-color: #008080; }
.language-r { border-color: #198CE7; }
.language-raml { border-color: #77d9fb; }
.language-rascript { border-color: #2C97FA; }
.language-rbs { border-color: #701516; }
.language-rdoc { border-color: #701516; }
.language-rexx { border-color: #d90e09; }
.language-rmarkdown { border-color: #198ce7; }
.language-ron { border-color: #a62c00; }
.language-ros-interface { border-color: #22314e; }
.language-rpgle { border-color: #2BDE21; }
.language-runoff { border-color: #665a4e; }
.language-racket { border-color: #3c5caa; }
.language-ragel { border-color: #9d5200; }
.language-raku { border-color: #0000fb; }
.language-rascal { border-color: #fffaa0; }
.language-rescript { border-color: #ed5051; }
.language-reason { border-color: #ff5847; }
.language-reasonligo { border-color: #ff5847; }
.language-rebol { border-color: #358a5b; }
.language-record-jar { border-color: #0673ba; }
.language-red { border-color: #f50000; }
.language-regular-expression { border-color: #009a00; }
.language-ren-py { border-color: #ff7f7f; }
.language-rez { border-color: #FFDAB3; }
.language-ring { border-color: #2D54CB; }
.language-riot { border-color: #A71E49; }
.language-robotframework { border-color: #00c0b5; }
.language-roc { border-color: #7c38f5; }
.language-rocq-prover { border-color: #d0b68c; }
.language-roff { border-color: #ecdebe; }
.language-roff-manpage { border-color: #ecdebe; }
.language-rouge { border-color: #cc0088; }
.language-routeros-script { border-color: #DE3941; }
.language-ruby { border-color: #701516; }
.language-rust { border-color: #dea584; }
.language-sas { border-color: #B34936; }
.language-scss { border-color: #c6538c; }
.language-sparql { border-color: #0C4597; }
.language-sqf { border-color: #3F3F3F; }
.language-sql { border-color: #e38c00; }
.language-sqlpl { border-color: #e38c00; }
.language-srecode-template { border-color: #348a34; }
.language-stl { border-color: #373b5e; }
.language-svg { border-color: #ff9900; }
.language-sail { border-color: #259dd5; }
.language-saltstack { border-color: #646464; }
.language-sass { border-color: #a53b70; }
.language-scala { border-color: #c22d40; }
.language-scaml { border-color: #bd181a; }
.language-scenic { border-color: #fdc700; }
.language-scheme { border-color: #1e4aec; }
.language-scilab { border-color: #ca0f21; }
.language-self { border-color: #0579aa; }
.language-shaderlab { border-color: #222c37; }
.language-shell { border-color: #89e051; }
.language-shellcheck-config { border-color: #cecfcb; }
.language-shen { border-color: #120F14; }
.language-simple-file-verification { border-color: #C9BFED; }
.language-singularity { border-color: #64E6AD; }
.language-slang { border-color: #1fbec9; }
.language-slash { border-color: #007eff; }
.language-slice { border-color: #003fa2; }
.language-slim { border-color: #2b2b2b; }
.language-slint { border-color: #2379F4; }
.language-smpl { border-color: #c94949; }
.language-smalltalk { border-color: #596706; }
.language-smarty { border-color: #f0c040; }
.language-smithy { border-color: #c44536; }
.language-snakemake { border-color: #419179; }
.language-solidity { border-color: #AA6746; }
.language-sourcepawn { border-color: #f69e1d; }
.language-squirrel { border-color: #800000; }
.language-stan { border-color: #b2011d; }
.language-standard-ml { border-color: #dc566d; }
.language-starlark { border-color: #76d275; }
.language-stata { border-color: #1a5f91; }
.language-stringtemplate { border-color: #3fb34f; }
.language-stylus { border-color: #ff6347; }
.language-subrip-text { border-color: #9e0101; }
.language-sugarss { border-color: #2fcc9f; }
.language-supercollider { border-color: #46390b; }
.language-surrealql { border-color: #ff00a0; }
.language-survex-data { border-color: #ffcc99; }
.language-svelte { border-color: #ff3e00; }
.language-sway { border-color: #00F58C; }
.language-sweave { border-color: #198ce7; }
.language-swift { border-color: #F05138; }
.language-systemverilog { border-color: #DAE1C2; }
.language-ti-program { border-color: #A0AA87; }
.language-tl-verilog { border-color: #C40023; }
.language-tla { border-color: #4b0079; }
.language-tmdl { border-color: #f0c913; }
.language-toml { border-color: #9c4221; }
.language-tsql { border-color: #e38c00; }
.language-tsv { border-color: #237346; }
.language-tsx { border-color: #3178c6; }
.language-txl { border-color: #0178b8; }
.language-tact { border-color: #48b5ff; }
.language-talon { border-color: #333333; }
.language-tcl { border-color: #e4cc98; }
.language-tex { border-color: #3D6117; }
.language-teal { border-color: #00B1BC; }
.language-terra { border-color: #00004c; }
.language-terraform-template { border-color: #7b42bb; }
.language-textgrid { border-color: #c8506d; }
.language-textmate-properties { border-color: #df66e4; }
.language-textile { border-color: #ffe7ac; }
.language-thrift { border-color: #D12127; }
.language-toit { border-color: #c2c9fb; }
.language-tor-config { border-color: #59316b; }
.language-tree-sitter-query { border-color: #8ea64c; }
.language-turing { border-color: #cf142b; }
.language-twig { border-color: #c1d026; }
.language-typescript { border-color: #3178c6; }
.language-typespec { border-color: #4A3665; }
.language-typst { border-color: #239dad; }
.language-unified-parallel-c { border-color: #4e3617; }
.language-unity3d-asset { border-color: #222c37; }
.language-uno { border-color: #9933cc; }
.language-unrealscript { border-color: #a54c4d; }
.language-untyped-plutus-core { border-color: #36adbd; }
.language-urweb { border-color: #ccccee; }
.language-v { border-color: #4f87c4; }
.language-vba { border-color: #867db1; }
.language-vbscript { border-color: #15dcdc; }
.language-vcl { border-color: #148AA8; }
.language-vhdl { border-color: #adb2cb; }
.language-vala { border-color: #a56de2; }
.language-valve-data-format { border-color: #f26025; }
.language-velocity-template-language { border-color: #507cff; }
.language-vento { border-color: #ff0080; }
.language-verilog { border-color: #b2b7f8; }
.language-vim-help-file { border-color: #199f4b; }
.language-vim-script { border-color: #199f4b; }
.language-vim-snippet { border-color: #199f4b; }
.language-visual-basic-net { border-color: #945db7; }
.language-visual-basic-6-0 { border-color: #2c6353; }
.language-volt { border-color: #1F1F1F; }
.language-vue { border-color: #41b883; }
.language-vyper { border-color: #9F4CF2; }
.language-wdl { border-color: #42f1f4; }
.language-wgsl { border-color: #1a5e9a; }
.language-web-ontology-language { border-color: #5b70bd; }
.language-webassembly { border-color: #04133b; }
.language-webassembly-interface-type { border-color: #6250e7; }
.language-whiley { border-color: #d5c397; }
.language-wikitext { border-color: #fc5757; }
.language-windows-registry-entries { border-color: #52d5ff; }
.language-witcher-script { border-color: #ff0000; }
.language-wolfram-language { border-color: #dd1100; }
.language-wollok { border-color: #a23738; }
.language-world-of-warcraft-addon-data { border-color: #f7e43f; }
.language-wren { border-color: #383838; }
.language-x10 { border-color: #4B6BEF; }
.language-xc { border-color: #99DA07; }
.language-xml { border-color: #0060ac; }
.language-xml-property-list { border-color: #0060ac; }
.language-xquery { border-color: #5232e7; }
.language-xslt { border-color: #EB8CEB; }
.language-xmake { border-color: #22a079; }
.language-xojo { border-color: #81bd41; }
.language-xonsh { border-color: #285EEF; }
.language-xtend { border-color: #24255d; }
.language-yaml { border-color: #cb171e; }
.language-yara { border-color: #220000; }
.language-yasnippet { border-color: #32AB90; }
.language-yacc { border-color: #4B6C4B; }
.language-yul { border-color: #794932; }
.language-zap { border-color: #0d665e; }
.language-zil { border-color: #dc75e5; }
.language-zenscript { border-color: #00BCD1; }
.language-zephir { border-color: #118f9e; }
.language-zig { border-color: #ec915c; }
.language-zimpl { border-color: #d67711; }
.language-zmodel { border-color: #ff7100; }
.language-crontab { border-color: #ead7ac; }
.language-ec { border-color: #913960; }
.language-fish { border-color: #4aae47; }
.language-hoon { border-color: #00b171; }
.language-icalendar { border-color: #ec564c; }
.language-jq { border-color: #c7254e; }
.language-kvlang { border-color: #1da6e0; }
.language-mirc-script { border-color: #3d57c3; }
.language-mcfunction { border-color: #E22837; }
.language-mdsvex { border-color: #5f9ea0; }
.language-mupad { border-color: #244963; }
.language-nanorc { border-color: #2d004d; }
.language-nesc { border-color: #94B0C7; }
.language-ooc { border-color: #b0b77e; }
.language-q { border-color: #0040cd; }
.language-restructuredtext { border-color: #141414; }
.language-sed { border-color: #64b970; }
.language-templ { border-color: #66D0DD; }
.language-vcard { border-color: #ee2647; }
.language-wisp { border-color: #7582D1; }
.language-xbase { border-color: #403a40; }
