@keyframes fly-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0px); }
}

@keyframes fly-out {
  from { opacity: 1; transform: translateY(0px); }
  to { opacity: 0; transform: translateY(-10px); }
}

@view-transition {
  navigation: auto;
}

:root {
  --color-dark: #030202;
  --color-light: #f7f5f0;
  --color-accent: #4d93a8;

  --font-display: "Anybody", var(--font-sans);
  --font-mono: "Courier New", monospace;
  --font-sans: "IBM Plex Sans", Helvetica, sans-serif;

  view-transition-name: unset;
}

::view-transition-new(main) {
  opacity: 0;
  animation: 200ms ease-out forwards fly-in;
  animation-delay: 300ms;
}

::view-transition-old(main) {
  animation: 200ms ease-out forwards fly-out;
}

html {
  scrollbar-gutter: stable both-edges;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-sans);
  margin: 0 auto;
  max-width: 64rem;
  padding: 0 1rem;
}

img {
  border-width: 2px;
}

main {
  view-transition-name: main;

  > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.clickable {
  cursor: pointer;
  transition: filter 300ms ease;
  :hover { filter: invert(0.2); }
  :active { filter: invert(0.1); }
}

.grid {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row;

  grid-template-columns: repeat(1, minmax(0, 1fr));
  @media (min-width: 40rem) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: 64rem) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.header {
  max-width: 42rem;

  h1 {
    font-family: var(--font-display);
    font-size: 3rem;
    font-weight: 700;
    font-variation-settings: "wdth" 125;
    line-height: 1;
    white-space: pre-wrap;
    width: fit-content;

    @media (min-width: 40rem) {
      font-size: 4.5rem;
    }
  }
  p {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding-right: 0.5rem;
    text-align: right;
  }
}

.navbar {
  font-family: var(--font-sans);
  font-size: 1.5rem;

  .logo {
    margin: 0 1rem;
  }

  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 0;
  }

  li {
    margin: 0 1rem;
  }
  
  ul {
    display: flex;
  }
}
